/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'SAMTOOLS_SORT_NORMAL' {
        ext.args = { " -n " }
        ext.prefix = { "${meta.id}_normal_name_sorted" }
        publishDir = [
            path: { "${params.outdir}/samtools/sort/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> null }
        ]
    }

    withName: 'SAMTOOLS_SORT_TUMOUR' {
        ext.args = { " -n " }
        ext.prefix = { "${meta.id}_tumour_name_sorted" }
        publishDir = [
            path: { "${params.outdir}/samtools/sort/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> null }
        ]
    }

    withName: 'BEDTOOLS_BAMTOFASTQ_NORMAL' {
        ext.prefix = { "${meta.id}_normal" }
        publishDir = [
            path: { "${params.outdir}/bedtools/bamtofastq/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> null }
        ]
    }

    withName: 'BEDTOOLS_BAMTOFASTQ_TUMOUR' {
        ext.prefix = { "${meta.id}_tumour" }
        publishDir = [
            path: { "${params.outdir}/bedtools/bamtofastq/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> null }
        ]
    }

    withName: 'BWAMEM2_MEM_NORMAL' {
        ext.args = { " -M -R \"@RG\\tID:NORMAL\\tSM:${meta.id}\\tPL:${params.seq_platform}\" " }
        ext.prefix = { "${meta.id}_normal" }
        publishDir = [
            path: { "${params.outdir}/bwamem2/mem/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> null }
        ]
    }

    withName: 'BWAMEM2_MEM_TUMOUR' {
        ext.args = { " -M -R \"@RG\\tID:TUMOUR\\tSM:${meta.id}\\tPL:${params.seq_platform}\" " }
        ext.prefix = { "${meta.id}_tumour" }
        publishDir = [
            path: { "${params.outdir}/bwamem2/mem/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> null }
        ]
    }

    withName: 'TELOMEREHUNTER_FULL' {
        publishDir = [
            path: { "${params.outdir}/telhun/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
